################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eFactory1/CopilotIndices/17.14.1091.29919
/.vs/eFactory1/FileContentIndex
/.vs
